<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lypz.briefreport.modules.briefreport.dao.BriefReportMapper">
	<resultMap id="BaseResultMap"
		type="com.lypz.briefreport.modules.briefreport.model.BriefReport">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
		<result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP" />
		<result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="user_unit" property="userUnit" jdbcType="VARCHAR" />
		<result column="br_status" property="brStatus" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="use_status" property="useStatus" jdbcType="INTEGER" />
		<result column="unit" property="unit" jdbcType="VARCHAR" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="contact_information" property="contactInformation"
			jdbcType="VARCHAR" />
		<result column="informatio_type" property="informatioType"
			jdbcType="INTEGER" />
		<result column="is_order_manuscript" property="isOrderManuscript"
			jdbcType="INTEGER" />
		<result column="submit_type" property="submitType" jdbcType="INTEGER" />
		<result column="use_unit" property="useUnit" jdbcType="VARCHAR" />
		<result column="score" property="score" jdbcType="INTEGER" />
		<result column="reviewer" property="reviewer" jdbcType="VARCHAR" />
		<result column="lssuer" property="lssuer" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="ReportBaseResultMap"
		type="com.lypz.briefreport.modules.briefreport.vo.ReportPageVo">
		<result column="sub_number" property="subNumber" jdbcType="INTEGER" />
		<result column="department" property="department" jdbcType="VARCHAR" />
		<result column="adopt_number" property="adoptNumber" jdbcType="INTEGER" />
		<result column="adopt_ratio" property="adoptRatio" jdbcType="INTEGER" />
		<result column="reply_ratio" property="replyRatio" jdbcType="INTEGER" />
		<result column="reply_number" property="replyNumber" jdbcType="INTEGER" />

	</resultMap>
	<resultMap id="MonthReportBaseResultMap"
		type="com.lypz.briefreport.modules.briefreport.vo.MonthReport">
		<result column="count_num" property="countNum" jdbcType="INTEGER" />
		<result column="created_at" property="createdAt" jdbcType="VARCHAR" />

	</resultMap>
	<sql id="Base_Column_List">
		id, created_at, updated_at, deleted_at, is_deleted,
		user_id, br_status,
		title, content,
		use_status, unit, author,
		contact_information, informatio_type,
		is_order_manuscript,
		submit_type,
		use_unit, score, reviewer, lssuer,user_name,user_unit
	</sql>
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from ly_brief_report
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="select" resultMap="BaseResultMap"
		parameterType="com.lypz.briefreport.modules.briefreport.model.BriefReport">
		select
		<include refid="Base_Column_List" />
		from ly_brief_report
		where is_deleted=1
		<if test="brStatus != null"> and br_status= #{brStatus}</if>
		<if test="userId !=null"> and user_id= #{userId}</if>
		<if test="unit !=null"> and unit = #{unit}</if>
		<if test="isOrderManuscript !=null"> and is_order_manuscript= #{isOrderManuscript}</if>
		<if test="useStatus !=null"> and use_status= #{useStatus}</if>

		order by id desc
	</select>
	<select id="selectCount" resultType="Integer"
		parameterType="com.lypz.briefreport.modules.briefreport.model.BriefReport">
		select
		count(id)
		from ly_brief_report
		where is_deleted=1
		<if test="brStatus !=null"> and br_status= #{brStatus}</if>
		<if test="isOrderManuscript !=null"> and is_order_manuscript= #{isOrderManuscript}</if>
		<if test="useStatus !=null"> and use_status= #{useStatus}</if>
		<if test="createdAt !=null"> and date_format(created_at,'%Y-%m')=
			date_format(#{createdAt},'%Y-%m')</if>
	</select>
	<!-- 按月查询6个月的数据 -->
	<select id="selectCountByMonth" resultMap="MonthReportBaseResultMap"
		parameterType="com.lypz.briefreport.modules.briefreport.model.BriefReport">
		SELECT
		count(id) countNum,
		date_format(created_at,'%Y-%m') createTime
		FROM
		ly_brief_report
		where is_deleted=1
		<if test="brStatus !=null"> and br_status= #{brStatus}</if>
		<if test="isOrderManuscript !=null"> and is_order_manuscript= #{isOrderManuscript}</if>
		<if test="useStatus !=null"> and use_status= #{useStatus}</if>
		GROUP BY
		date_format(created_at,'%Y-%m')
		ORDER BY
		date_format(created_at,'%Y-%m') ;

		LIMIT 6
	</select>

	<select id="page" resultMap="BaseResultMap"
		parameterType="com.lypz.briefreport.modules.briefreport.po.BriefReportPo">
		select
		<include refid="Base_Column_List" />
		from ly_brief_report
		where is_deleted=1
		<if test="brStatus == 1"> and br_status in (1,4)</if>
		<if test="brStatus == 2"> and br_status in(3,2)</if>
		<if test="isOrderManuscript !=null"> and is_order_manuscript= #{isOrderManuscript}</if>
		<if test="useUnit !=null"> and use_unit= #{useUnit}</if>
		<if test="useStatus !=null"> and use_status= #{useStatus}</if>
		<if test="userId !=null"> and user_id= #{userId}</if>
		<if test="author !=null and author !='' "> and author like CONCAT('%',#{author},'%')</if>
		<if test="title !=null and title!='' "> and title like CONCAT('%',#{title},'%') </if>
		<if
			test="startTime !=null and startTime !='' and endTime !=null and endTime !=''"> and created_at BETWEEN STR_TO_DATE(#{startTime},'%Y-%m-%d') and
			STR_TO_DATE(#{endTime},'%Y-%m-%d') </if>
		<if test="submitType !=null and submitType !=-1"> and submit_type= #{submitType}</if>
		<if test="informatioType !=null and informatioType !=-1"> and informatio_type= #{informatioType}</if>
		order by id desc
	</select>
	<!-- 统计分页 -->
	<select id="reportPage" resultMap="ReportBaseResultMap"
		parameterType="com.lypz.briefreport.modules.briefreport.po.ReportPagePo">
		SELECT
	temp.*, IFNULL(
		floor(
			temp.adopt_number / temp.sub_number * 100
		),
		0
	) AS adopt_ratio
FROM
	(
		SELECT
			IFNULL(ly_br_2.sub_count, 0) AS sub_number,
			ly_br.user_unit AS department,
			IFNULL(ly_br_1.use_count, 0) AS adopt_number
		FROM
			ly_brief_report ly_br
		LEFT JOIN (
			SELECT
				IFNULL(COUNT(id), 0) AS use_count,
				user_unit AS temp_unit
			FROM
				ly_brief_report
			WHERE
				is_deleted = 1
			AND use_status = 1
			AND br_status = 1
				<if
			test="startTime !=null and startTime !='' and endTime !=null and endTime !=''"> and created_at BETWEEN STR_TO_DATE(#{startTime},'%Y-%m-%d') and
			STR_TO_DATE(#{endTime},'%Y-%m-%d') </if>
			GROUP BY
				user_unit
		) ly_br_1 ON ly_br_1.temp_unit = ly_br.user_unit
		LEFT JOIN (
			SELECT
				COUNT(id) AS sub_count,
				user_unit AS temp_unit
			FROM
				ly_brief_report
			WHERE
				is_deleted = 1
			AND br_status = 1
			<if
			test="startTime !=null and startTime !='' and endTime !=null and endTime !=''"> and created_at BETWEEN STR_TO_DATE(#{startTime},'%Y-%m-%d') and
			STR_TO_DATE(#{endTime},'%Y-%m-%d') </if>
			GROUP BY
				unit
		) ly_br_2 ON ly_br_2.temp_unit = ly_br.user_unit
		WHERE
			ly_br.is_deleted = 1
			<if
			test="startTime !=null and startTime !='' and endTime !=null and endTime !=''"> and created_at BETWEEN STR_TO_DATE(#{startTime},'%Y-%m-%d') and
			STR_TO_DATE(#{endTime},'%Y-%m-%d') </if>
		GROUP BY
			ly_br.user_unit
		ORDER BY
			ly_br.id DESC
	) temp


	<!-- 	SELECT
		temp.*, IFNULL(floor(
		temp.adopt_number / temp.sub_number * 100
		),0) AS adopt_ratio
		FROM
		(
		SELECT
		IFNULL(ly_br_2.sub_count,0) AS sub_number,
		ly_br.unit AS department,
		IFNULL(ly_br_1.use_count,0) AS adopt_number
		FROM
		ly_brief_report ly_br
		LEFT JOIN (
		SELECT
		IFNULL(COUNT(id),0) AS use_count,
		unit AS temp_unit
		FROM
		ly_brief_report
		WHERE
		is_deleted = 1
		AND use_status = 1
		AND br_status = 1
		<if
			test="startTime !=null and startTime !='' and endTime !=null and endTime !=''"> and created_at BETWEEN STR_TO_DATE(#{startTime},'%Y-%m-%d') and
			STR_TO_DATE(#{endTime},'%Y-%m-%d') </if>
		GROUP BY
		unit
		) ly_br_1 ON ly_br_1.temp_unit = ly_br.unit
		LEFT JOIN (
		SELECT
		COUNT(id) AS sub_count,
		unit AS temp_unit
		FROM
		ly_brief_report
		WHERE
		is_deleted = 1
		AND br_status = 1
		<if
			test="startTime !=null and startTime !='' and endTime !=null and endTime !=''"> and created_at BETWEEN STR_TO_DATE(#{startTime},'%Y-%m-%d') and
			STR_TO_DATE(#{endTime},'%Y-%m-%d') </if>
		GROUP BY
		unit
		) ly_br_2 ON ly_br_2.temp_unit = ly_br.unit
		WHERE
		ly_br.is_deleted = 1
		<if
			test="startTime !=null and startTime !='' and endTime !=null and endTime !=''"> and created_at BETWEEN STR_TO_DATE(#{startTime},'%Y-%m-%d') and
			STR_TO_DATE(#{endTime},'%Y-%m-%d') </if>
		GROUP BY
		ly_br.unit
		ORDER BY
		ly_br.id DESC
		) temp -->

	</select>

	<insert id="insert"
		parameterType="com.lypz.briefreport.modules.briefreport.model.BriefReport"
		useGeneratedKeys="true" keyProperty="id">
		insert into ly_brief_report
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="createdAt != null">
				created_at,
			</if>
			<if test="updatedAt != null">
				updated_at,
			</if>
			<if test="deletedAt != null">
				deleted_at,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="brStatus != null">
				br_status,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="useStatus != null">
				use_status,
			</if>
			<if test="unit != null">
				unit,
			</if>
			<if test="author != null">
				author,
			</if>
			<if test="contactInformation != null">
				contact_information,
			</if>
			<if test="informatioType != null">
				informatio_type,
			</if>
			<if test="isOrderManuscript != null">
				is_order_manuscript,
			</if>
			<if test="submitType != null">
				submit_type,
			</if>
			<if test="useUnit != null">
				use_unit,
			</if>
			<if test="score != null">
				score,
			</if>
			<if test="reviewer != null">
				reviewer,
			</if>
			<if test="lssuer != null">
				lssuer,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="userUnit != null">
				user_unit,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="createdAt != null">
				#{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				#{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="deletedAt != null">
				#{deletedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="brStatus != null">
				#{brStatus,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="useStatus != null">
				#{useStatus,jdbcType=INTEGER},
			</if>
			<if test="unit != null">
				#{unit,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				#{author,jdbcType=VARCHAR},
			</if>
			<if test="contactInformation != null">
				#{contactInformation,jdbcType=VARCHAR},
			</if>
			<if test="informatioType != null">
				#{informatioType,jdbcType=INTEGER},
			</if>
			<if test="isOrderManuscript != null">
				#{isOrderManuscript,jdbcType=INTEGER},
			</if>
			<if test="submitType != null">
				#{submitType,jdbcType=INTEGER},
			</if>
			<if test="useUnit != null">
				#{useUnit,jdbcType=VARCHAR},
			</if>
			<if test="score != null">
				#{score,jdbcType=INTEGER},
			</if>
			<if test="reviewer != null">
				#{reviewer,jdbcType=VARCHAR},
			</if>
			<if test="lssuer != null">
				#{lssuer,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="userUnit != null">
				#{userUnit,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="update"
		parameterType="com.lypz.briefreport.modules.briefreport.model.BriefReport">
		update ly_brief_report
		<set>
			<if test="createdAt != null">
				created_at = #{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				updated_at = #{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="deletedAt != null">
				deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="isDeleted != null">
				is_deleted = #{isDeleted,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="brStatus != null">
				br_status = #{brStatus,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="useStatus != null">
				use_status = #{useStatus,jdbcType=INTEGER},
			</if>
			<if test="unit != null">
				unit = #{unit,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				author = #{author,jdbcType=VARCHAR},
			</if>
			<if test="contactInformation != null">
				contact_information =
				#{contactInformation,jdbcType=VARCHAR},
			</if>
			<if test="informatioType != null">
				informatio_type = #{informatioType,jdbcType=INTEGER},
			</if>
			<if test="isOrderManuscript != null">
				is_order_manuscript =
				#{isOrderManuscript,jdbcType=INTEGER},
			</if>
			<if test="submitType != null">
				submit_type = #{submitType,jdbcType=INTEGER},
			</if>
			<if test="useUnit != null">
				use_unit = #{useUnit,jdbcType=VARCHAR},
			</if>
			<if test="score != null">
				score = #{score,jdbcType=INTEGER},
			</if>
			<if test="reviewer != null">
				reviewer = #{reviewer,jdbcType=VARCHAR},
			</if>
			<if test="lssuer != null">
				lssuer = #{lssuer,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="userUnit != null">
				user_unit = #{userUnit,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>