<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lypz.briefreport.modules.briefreport.dao.BriefReportMapper" >
  <resultMap id="BaseResultMap" type="com.lypz.briefreport.modules.briefreport.model.BriefReport" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="br_status" property="brStatus" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="use_status" property="useStatus" jdbcType="INTEGER" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="contact_information" property="contactInformation" jdbcType="VARCHAR" />
    <result column="informatio_type" property="informatioType" jdbcType="INTEGER" />
    <result column="is_order_manuscript" property="isOrderManuscript" jdbcType="INTEGER" />
    <result column="submit_type" property="submitType" jdbcType="INTEGER" />
    <result column="use_unit" property="useUnit" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="reviewer" property="reviewer" jdbcType="VARCHAR" />
    <result column="lssuer" property="lssuer" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, created_at, updated_at, deleted_at, is_deleted, user_id, br_status, title, content, 
    use_status, unit, author, contact_information, informatio_type, is_order_manuscript, 
    submit_type, use_unit, score, reviewer, lssuer
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ly_brief_report
    where id = #{id,jdbcType=INTEGER}
  </select>
 <select id="select" resultMap="BaseResultMap" parameterType="com.lypz.briefreport.modules.briefreport.model.BriefReport" >
    select 
    <include refid="Base_Column_List" />
    from ly_brief_report
    where is_deleted=1
    <if test="brStatus !=null"> and br_status= #{brStatus}</if>
    <if test="isOrderManuscript !=null"> and is_order_manuscript= #{isOrderManuscript}</if>
    <if test="useStatus !=null"> and use_status= #{useStatus}</if>
    
    order by id desc
  </select>
 
  <insert id="insert" parameterType="com.lypz.briefreport.modules.briefreport.model.BriefReport"  useGeneratedKeys="true" keyProperty="id">
    insert into ly_brief_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="deletedAt != null" >
        deleted_at,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="brStatus != null" >
        br_status,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="useStatus != null" >
        use_status,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="contactInformation != null" >
        contact_information,
      </if>
      <if test="informatioType != null" >
        informatio_type,
      </if>
      <if test="isOrderManuscript != null" >
        is_order_manuscript,
      </if>
      <if test="submitType != null" >
        submit_type,
      </if>
      <if test="useUnit != null" >
        use_unit,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="reviewer != null" >
        reviewer,
      </if>
      <if test="lssuer != null" >
        lssuer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null" >
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="brStatus != null" >
        #{brStatus,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="useStatus != null" >
        #{useStatus,jdbcType=INTEGER},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="contactInformation != null" >
        #{contactInformation,jdbcType=VARCHAR},
      </if>
      <if test="informatioType != null" >
        #{informatioType,jdbcType=INTEGER},
      </if>
      <if test="isOrderManuscript != null" >
        #{isOrderManuscript,jdbcType=INTEGER},
      </if>
      <if test="submitType != null" >
        #{submitType,jdbcType=INTEGER},
      </if>
      <if test="useUnit != null" >
        #{useUnit,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="reviewer != null" >
        #{reviewer,jdbcType=VARCHAR},
      </if>
      <if test="lssuer != null" >
        #{lssuer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.lypz.briefreport.modules.briefreport.model.BriefReport" >
    update ly_brief_report
    <set >
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null" >
        deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="brStatus != null" >
        br_status = #{brStatus,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="useStatus != null" >
        use_status = #{useStatus,jdbcType=INTEGER},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="contactInformation != null" >
        contact_information = #{contactInformation,jdbcType=VARCHAR},
      </if>
      <if test="informatioType != null" >
        informatio_type = #{informatioType,jdbcType=INTEGER},
      </if>
      <if test="isOrderManuscript != null" >
        is_order_manuscript = #{isOrderManuscript,jdbcType=INTEGER},
      </if>
      <if test="submitType != null" >
        submit_type = #{submitType,jdbcType=INTEGER},
      </if>
      <if test="useUnit != null" >
        use_unit = #{useUnit,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="reviewer != null" >
        reviewer = #{reviewer,jdbcType=VARCHAR},
      </if>
      <if test="lssuer != null" >
        lssuer = #{lssuer,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>