/target
/classes
/.settings
/.metadata
.settings
.swp
.classpath
.project
.springBeans
*.iml
.idea
logs
*.tmp
*.log
*.bak
.DS_Store
.svn
.ipr
.iws
*.ipr
*.iws
*/target
*.cde
/target/


keytool -import -keystore cacerts -storepass changeit -keypass changeit -alias my-cas -file C:\\Program Files\\java\\jdk1.8.0_201\\jre\\lib\\security\\client.crt

